# Environment
.env
**/.env

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Java
target/
build/
*.class
*.jar
*.war

# Node
node_modules/
dist/
dist-ssr/
*.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
